* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main game container */
.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(images/background/table_top.png);
    background-size: cover;
    padding: 20px;
}

/* Dealer and Player sections */
.dealer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 580px;
    right: 940px;
}

.player {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 100px;
    left: 415px;
}

.player-cards {
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 15px;
}

.dealer-cards {
    position: absolute;
    display: flex;
    top: 50px;
}

.chips { 
    position: absolute;  
    left: 450px;
    top: -17px;
    display: flex;
    justify-content: center;
    width: 50px;
    margin: 5px;
}
.chips img {
    width: 50px;
    margin: 5px;
}
.controls {
    margin-top: 665px;
    margin-left: 400px;
    justify-content: center;
    display: flex;   

}
button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color:purple;
}

@keyframes deal-card {
    from {
        transform: translateX(0);
    } 
    to {
        transform: translateX(100px);
    }   
}
.dealer-cards img {
    animation: deal-card 1s ease-in-out;
}
.player-cards img {
    animation: deal-card 1s ease-in-out;
}

.chips img {
    animation: move-up 1s ease-in-out;
}

@keyframes move-up {
    from {
        transform: translateY(0); /* Start from the original position */
    }
    to {
        transform: translateY(-50px); /* Move 50px upwards */
    }
}

.chip-container {
    position: relative; 
    display: inline-block;
    margin: 10px;
}

.chip {
    width: 50px;
    height: 50px;
    margin: 0; 
    bottom: 50px;
}

/* Tooltip style */
.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%; 
    left: 50%;
    transform: translateX(-50%);
    width: 100px; 
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px; 
}

/* Show the tooltip on hover */
.chip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}